module AWS_CONF
  ACCESS_KEY_ID = "XXXXXXXXXXXXXXXXXXXX"
  SECRET_ACCESS_KEY = "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
  AMI = "ami-xxxxxxxx"
  REGION = "us-west-1"
  KEY_NAME = "xxxxxxxxxxxx"
  SPOT_PRICE = "0.05"
  INSTNACE_TYPE = "c3.xlarge"
  AVAILABILITY_ZONE = "us-west-1c"
  SUBNET = "subnet-12345678"
  SECURITY_GROUP = "sg-12345678"
end
